@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$clr-black: #1C232B;
$clr-cream:#F2EAE2;
$clr-grey: #6C7289;
$clr-white: #FFFFFF;
$clr-green-500: #3D8168;
$clr-green-700: #1A4032;

$space-500: 2.5rem;
$space-400: 2rem;
$space-300: 1.5rem;
$space-200: 1rem;
$space-100: 0.5rem; 

.text-1 { 
    font: bold 2rem/1 "Fraunces", serif;
}

.text-2 {
    font: bold 0.9rem/1.1 "Montserrat", sans-serif
}

.text-3 {
    font: 0.9rem/1.6 "Montserrat", sans-serif;
}

.text-4 {
    font: 0.75rem/1.2 "Montserrat";
    letter-spacing: 5px;
    text-transform: uppercase;
}

.text-5 {
    font: 0.8rem/1.2 "Montserrat", sans-serif;
    text-decoration: line-through;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: $clr-cream;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        margin: $space-100;
        background-color: $clr-white;
        border-radius: 10px;
        overflow: hidden;

        @media (min-width: 610px) {
            flex-direction: row;
            width: 600px;
        }


        &__product-image {
            flex: 1;
            border-radius: 10px;
            width: 100%;
            height: 100%;

            img {
                width: 320px;
                height: 320px;
                object-fit: cover;
                vertical-align: middle;

                @media (min-width: 610px) {
                    width: 300px;
                    height: 100%;
                }
            }
        }


        &__product-info {
            flex: 1;
            padding: $space-400;
            .product-type {
                margin-bottom: $space-300;
            }

            .product-name {
                margin-bottom: $space-300;
            }

            .product-description {
                margin-bottom: $space-300;
                color: $clr-grey;
            }

            .current-price {
                display: inline-block;
                color: $clr-green-500;
                vertical-align: middle;
            }

            .original-price {
                display: inline-block;
                color: $clr-grey;
                vertical-align: middle;
                margin-left: $space-200;
            }

            button {
                display: block;
                margin-top: $space-300;
                width: 100%;
                color: $clr-white;
                border: none;
                border-radius: 8px;
                background-color: $clr-green-500;
                padding: $space-200;

                @media (min-width) {
                width: 50%;
            }

                &:hover {
                    background-color: $clr-green-700;
                }
                img {
                    display: inline-block;
                    vertical-align: middle;
                }

                p {
                    display: inline-block;
                    padding: 0 $space-100;
                    vertical-align: middle;
                }
            }
        }
    }
}

